@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323');

:root {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: var(--fg);

    --fg: #183c5c;
    --bg: #deeeef;
}

body {
    margin: 0;
    height:100%;
}
